<!DOCTYPE  html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gene.ly | Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>

        <!-- Logo and Menu -->
        <header id="header">
            <div class="wrapper">
               <a href="/">
                <img src="https://i.postimg.cc/tTxjZ7MF/biology.png">
            </a> 

            <button id="submenu">
                <span></span>
                <span></span>
                <span></span>
            </button>

        <!-- Menu Links-->    

            <ul class="menu-left">
                <li><a href="#">
                        Our mission
                </a></li>
                <li><a href="#">
                        Services
                </a></li>
                <li><a href="#">
                        Pricing
                </a></li>
                <li><a href="#">
                        Contact
                </a></li>
            </ul>


            <ul class="menu-right">
                <li class="menu-cta"><a href="#">Get Started</a></li>
            </ul>
            </div>
        </header>
    
        <!-- MENU END -->

        <!-- INTRO PAGE START -->

        <section id="intro">

            <div class="top-right-gradient">
                
            </div>
            <div class="wrapper">

                <div class="intro-left">
                    <h1>Making Genes Accessible to Everyone</h1>
                    <p>At Gene.ly, we've created the world's first affordable solution for health and research insutituions, so they can empower their communities with the power of genomics.</p>
                    <a href="#" class="intro-cta">
                        Try it for Free
                    </a>
                </div>

                <div class="intro-right">
                    <img src="https://i.postimg.cc/bJJR3th2/undraw-growth-analytics-8btt.png" alt="image">
                </div>
            </div>

            <div class="bottom-left-gradient">
                
            </div>
        </section>

        <!-- Intro Page END -->
      
        <!-- About Page Start -->
      <section id="about">
        <div class="wrapper">
          <div class="about-left">
            <img src="https://i.postimg.cc/7PNKwwB6/undraw-report-mx0a.png" alt="">
          </div>
          <div class="about-right">
            <h1>Personal DNA insights designed to meet your needs</h1>
            <p>Gene.ly's clinical-grade genomics platform offers you flexibility, delivering accurate and actionable results even as new discoveries are made.
</p>
            <a href="#" class="cta">Learn more</a>
        </div>
        </div>
        
        <div class="top-right-gradient">
          
        </div>
      </section>
      
      <!-- About Page End -->
      
      <!-- Page Banner START -->
      
      <div class="page-banner">
        <h1>Analytics Made Easy</h1>
        <h3>Experience next generation Analytics</h3>
        <a href="#">Get Started</a>
      </div>
      
      <!-- Banner END -->
      
      <!-- Footer START -->
      <footer>
        
        <div class="wrapper">
          
          <div class="footer-left">
            <a href="/">
              <img src="https://i.postimg.cc/tTxjZ7MF/biology.png" alt="logo">
          </div>
            
            <p class="footer-links">
              
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Pricing</a>
              <a href="#">Contact</a>
              
            </p>
            
            <p class="footer-company-name">Gene.ly &copy; 2019 -Made by Design Medium</p>
              
          <div class="footer-center">
            
            <div><i class="fas fa-map-marker-alt"></i>
              <p><span> 1234 Sawtelle Rd.</span>Los Angeles, CA 90025</p></div>
            
            <div><i class="fas fa-phone"></i>
              <p><span> 123-456-7890 </p></div>
                
              <div><i class="fas fa-envelope"></i>
                <p><a href="#">DesignMedium@company.com</a></p>
            </div>
               </div>
            
          <div class="footer-right">
            <p class="footer-connect">
              <span>Connect with us</span>
              Consume out of the box genetic Analytics anywhere, anytime. Contact us to get Started. 
            </p>
            <div class="footer-icons">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            
               </div>
        </div>
      </footer>
      
      <!-- Footer END -->
      
        

      <script src="{{ url_for('static', filename='index_script.js') }}"></script>
    </body>
</html>