<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page1_style.css') }}">
    <script src="{{ url_for('static', filename='page1_script.js') }}"></script>
    <title>FASTBreak | Dashboard</title>
  </head>
  <body>
    <div class="area">
        
    </div>
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="/page1" onclick="showTab('tab1')">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="/page2" onclick="showTab('tab2')">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Change Accounts
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/page3">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Chat
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/page4">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Weather
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="/page5">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Hydration
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/page6">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Calendar
                        </span>
                    </a>
                </li>
                <li>
                   <a href="/page7">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools
                        </span>
                    </a>
                </li>
                <li>
                   <a href="/page8">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            test
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/page9">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="/">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>